!.vscode
*.code-workspace
.DS_Store
.vscode/tasks.json

node_modules
build
.env
package-lock.json

.yalc
yalc.lock

sanity/dist

yarn-error.log
.now
.env*

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

*.tar.gz
production-export*
staging-export*
/.gtm/
