/**
	* Add to cart
	*/

.icon-cart {
	display: block;
}

.icon-cart.success {
	transition: 0.5s;
	transition-timing-function: cubic-bezier(0, 0, 0.19, 1.39);
	transform: rotate(360deg);
}

.product__form {
	button[type='submit'] {
		position: relative;

		h4 {
			@extend %abs-full-size;
			@extend %flex-center;
			@extend %invisible;
			transition: 0.2s;
		}

		h4.add {
			@extend %visible;
		}

		&[data-state='thinking'] {
			&:hover {
				background-color: $grey3;
			}

			h4.add {
				opacity: 0.5;
			}
		}

		&[data-state='success'] {
			h4.add {
				opacity: 0;
			}
			h4.success {
				opacity: 1;
			}
		}
	}
}

.cart__menu {
	@extend %invisible;
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	padding: 2rem;
	width: 24rem;
	background: white;
	border: 1px solid $grey1;
	transition: 0.3s;

	&.has-items {
		display: initial;
	}
}

.cart:hover {
	.cart__menu {
		@extend %visible;
	}
}

.cart__menu-items {
	max-height: 35rem;
	overflow: scroll;
}

.cart__menu-item {
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: left;
	padding-bottom: 1rem;

	img {
		width: 30%;
	}

	& + .cart__menu-item {
		border-top: 1px solid $grey1;
		padding-top: 1rem;
	}

	&.prototype {
		display: none;
	}
}

.cart__menu-item-info {
	padding-left: 1rem;
	flex-grow: 1;
}

.cart__menu-item-quantity {
	display: none;

	&.has-quantity {
		display: inline;
	}
}

.cart__menu-bottom {
	padding-top: 1rem;
	border-top: 1px solid $grey3;
}

.cart__menu-item-price {
	margin-top: 0.3rem;
}

/**
	* Cart Page
	*/

body.template-cart {
	header .cart {
		display: none;
	}
}

section.checkout {
	color: $grey3;
}

.checkout__empty {
	padding: 6rem 0;
	text-align: center;

	a {
		text-decration: underline;
		color: black;
	}
}

.checkout__header {
	margin: 4rem auto;
	text-align: left;
	color: $grey2;
}

.checkout__headers {
	text-transform: uppercase;
	padding-bottom: 1rem;
}

.checkout__item,
.checkout__headers {
	display: flex;
	justify-content: space-between;
}

.checkout__item {
	padding: 1rem 0;
	border-top: 1px solid $grey1;
	text-transform: uppercase;
	align-items: center;

	.label {
		display: none;
	}
}

.checkout__image {
	width: 15rem;
	flex-basis: 15rem;
}

.checkout__title {
	padding-left: 2rem;
	flex-grow: 1;
}

.checkout__quantity {
	text-align: center;
	flex-basis: 12rem;

	input {
		display: block;
		width: 5rem;
		margin: 0 auto;
	}
}

.checkout__price,
.checkout__total {
	flex-basis: 16rem;
	text-align: center;
}

.checkout__remove {
	flex-basis: 12rem;
	text-align: center;
}

.checkout__bottom {
	border-top: 1px solid;
	padding-top: 2rem;
	text-align: center;

	textarea {
		background: white;
		border: 1px solid $grey2;
		width: 100%;
		max-width: 55rem;
		margin: 1rem auto 0;
	}

	button {
		margin: 1rem auto;
	}
}

@media screen and (min-width: $break-medium-min) {
	.checkout__price,
	.checkout__total,
	.checkout__remove,
	.checkout__quantity {
		max-width: 13%;
	}
}

@media screen and (max-width: $break-medium) {
	body.template-cart .column {
		max-width: calc(100% - 4rem);
	}

	.checkout__price,
	.checkout__total {
		flex-basis: 9rem;
		text-align: center;
	}
}

@media screen and (max-width: 680px) {
	body.template-cart .column {
		max-width: 48rem;
	}

	.checkout__headers {
		display: none;
	}

	.checkout__item {
		display: block;
		position: relative;
		padding: 1.5rem 0;

		.label {
			display: inline-block;
			margin-right: 1rem;
		}

		.checkout__title,
		.checkout__price,
		.checkout__quantity,
		.checkout__total,
		.checkout__remove {
			padding-top: 0.5rem;
			text-align: left;
		}

		.checkout__title {
			padding-top: 0;
		}

		h4 {
			min-height: 2.5rem;
			float: right;
			display: block;
			width: calc(60% - 1rem);
			padding-left: 5%;
		}
	}

	.checkout__remove {
		position: absolute;
		left: calc(40% + 1rem);
		bottom: 1.5rem;

		i {
			margin-right: 0.3em;
		}
	}

	.checkout__image {
		width: 40%;
		margin-right: 1rem;
		display: block;
		float: left;
	}

	.checkout__quantity {
		input {
			min-height: 3rem;
			height: 3rem;
			display: inline-block;
			padding-bottom: 0.4rem;
		}
	}
}

/* Apple / GPay */
.additional-checkout-button + .additional-checkout-button {
	margin-left: 0;
	margin-top: 5px;
}
