section.collection {
	padding-bottom: 3rem;
}

.collection__hero {
	width: 100%;
	position: relative;
	font-family: $sangBleu;
	font-weight: 300;
	padding-bottom: calc(33% - 1rem);
	overflow: hidden;
	margin-bottom: 6rem;

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.video__container {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 100;
	}
}

.collection__description {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 3rem 0;
	margin: 0 auto;
	font-size: 1.2rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.bar {
		margin: 1rem 0 2rem;
	}
}

.collection__description__title {
	text-transform: uppercase;
	font-weight: 100%;
}

.collection__description__body {
	max-width: 30rem;
	margin: 0 auto;
}

.collection__footer {
	text-align: center;
	color: $grey2;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
}

.grid__item {
	text-align: center;
	position: relative;
	min-height: 350px;
}

.grid__image {
	position: relative;
	width: 100%;
	min-height: inherit;
	padding-bottom: 100%;
	overflow: hidden;

	img {
		@extend %abs-full-size;
		object-fit: cover;
	}

	.video__container {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	&:hover .grid__image--hover {
		opacity: 1;
	}
}

.grid__image--hover {
	position: absolute;
	padding-bottom: initial;
	height: 100%;
	opacity: 0;
	transition: opacity 0.2s;
}

.result__caption,
.grid__caption {
	color: $grey3;
	text-align: center;
	height: 2rem;
	margin-top: 1rem;
	padding: 0 1rem;
}

.pagination {
	margin: 3rem auto;
	text-align: center;
	color: $grey2;
}

.pagination__count {
	text-transform: uppercase;
}

.pagination__link {
	margin-top: 1rem;

	& + .pagination__link:before {
		content: ' ';
		margin-left: 1.5em;
	}
}

.grid__image--textOverlay {
	@extend %flex-center;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	padding: 1rem 4rem;
	width: 100%;
	height: 100%;
	font-family: $sangBleu;
	flex-direction: column;
	font-weight: 100;
	color: white;
	text-align: center;
	overflow: hidden;

	h2 + h3 {
		margin-top: 1em;
	}

	a {
		color: inherit;
		text-decoration: none;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 1px;
			border-bottom: 1px solid;
		}
	}

	@media screen and (max-width: $break-large) {
		padding: 1rem 2rem;
	}
}

.collection__featured-quote {
	@extend %flex-center;
	font-family: $sangBleu;
	position: relative;
	flex-direction: column;
	background-color: $grey1half;
	font-weight: 100;
	color: white;
	text-align: center;
	overflow: hidden;

	.as-background {
		@extend %abs-full-size;
		z-index: 1;

		.img-preload-full {
			position: static;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	h1 {
		z-index: 10;
	}
}

.collection__featured-quote-byline {
	font-style: italic;
}

.collection__featured-item {
	.grid__image {
		height: calc(100% - 3rem);
		padding-bottom: 0rem;
	}

	.grid__image img {
		height: 100%;
	}
}

@media screen and (min-width: $break-large-min) {
	/* Currently in use on emrata x SK */
	.collection-grid--1 {
		.collection__featured-image:nth-of-type(1) {
			grid-row-end: span 2;
		}

		.collection__featured-image:nth-of-type(2) {
			grid-row-start: 3;
			grid-row-end: span 2;
			grid-column-start: 3;
		}

		.collection__featured-image:nth-of-type(3) {
			grid-row-start: 4;
			grid-row-end: span 2;
			grid-column-start: 1;
		}

		.collection__featured-quote {
			grid-row-start: 1;
			grid-column-start: 2;
			grid-column-end: span 2;
			padding: 0 15%;
		}
	}

	.collection-grid--2 {
		.collection__featured-image:nth-of-type(1) {
			grid-row-end: span 2;
		}

		.collection__featured-image:nth-of-type(2) {
			grid-row-start: 4;
			grid-column-start: 2;
			grid-column-end: span 2;
		}

		.collection__featured-image:nth-of-type(3) {
			grid-row-start: 6;
			grid-row-end: span 2;
			grid-column-start: 1;
		}

		.collection__featured-image:nth-of-type(4) {
			grid-row-start: 9;
			grid-column-start: 2;
			grid-column-end: span 2;
		}

		.collection__featured-image:nth-of-type(5) {
			grid-row-start: 11;
			grid-row-end: span 2;
			grid-column-start: 1;
		}
	}

	.collection-grid--3 {
		.collection__featured-image:nth-of-type(1) {
			grid-row-start: 2;
			grid-column-end: span 2;
			grid-column-start: 2;
		}

		.collection__featured-image:nth-of-type(2) {
			grid-row-start: 3;
			grid-column-start: 1;
			grid-row-end: span 2;
		}
	}
}

@media screen and (max-width: $break-large) {
	.grid {
		grid-template-columns: 1fr 1fr;
	}

	.collection__hero {
		padding-bottom: calc(55% - 1rem);

		img {
			top: 50%;
			left: 50%;
			height: auto;
			transform: translate(-50%, -50%);
			width: 190%;
			max-width: initial;
			object-fit: initial;
		}
	}
	.collection-grid--1 {
		.collection__featured-image:nth-of-type(1) {
			grid-row-start: 2;
			grid-row-end: span 2;
		}

		.collection__featured-image:nth-of-type(2) {
			grid-row-start: 4;
			grid-row-end: span 2;
			grid-column-start: 2;
		}

		.collection__featured-image:nth-of-type(3) {
			grid-row-start: 7;
			grid-row-end: span 2;
		}

		.collection__featured-quote {
			grid-row-start: 1;
			grid-column-start: 2;
			padding: 0 4rem;
			height: calc(100% - 3rem);
		}
	}

	.collection-grid--2 {
		.collection__featured-image:nth-of-type(1) {
			grid-row-start: 1;
			grid-row-end: span 2;
		}

		.collection__featured-image:nth-of-type(2) {
			grid-row-start: 5;
			grid-column-start: 1;
			grid-column-end: span 2;
		}

		.collection__featured-image:nth-of-type(3) {
			grid-row-start: 8;
			grid-row-end: span 2;
		}

		.collection__featured-image:nth-of-type(4) {
			grid-row-start: 12;
			grid-column-end: span 2;
		}
		.collection__featured-image:nth-of-type(5) {
			grid-row-start: 15;
			grid-row-end: span 2;
		}
	}

	.collection-grid--3 {
		.collection__featured-image:nth-of-type(1) {
			grid-row-start: 2;
			grid-column-end: span 2;
		}

		.collection__featured-image:nth-of-type(2) {
			grid-row-start: 4;
			grid-column-start: 1;
			grid-row-end: span 2;
		}
	}
}

@media screen and (max-width: $break-medium) {
	.grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-column-gap: 0;
	}

	.grid__item {
		margin-bottom: 2rem;
	}

	.collection__featured-item {
		.grid__image {
			height: 0;
			padding-bottom: 100%;
		}
	}

	.collection__featured-image {
		.grid__image {
			padding-bottom: 100%;
		}
	}

	.collection__hero img {
		width: 250%;
	}
	.collection__description {
		padding: 3rem 1rem;
		position: relative;
	}

	.collection-grid--1 {
		.collection__featured-image:nth-of-type(1) {
			grid-row-start: 3;
		}

		.collection__featured-image:nth-of-type(2) {
			grid-row-start: 8;
			grid-column-start: 1;
		}

		.collection__featured-image:nth-of-type(3) {
			grid-row-start: 14;
		}

		.collection__featured-quote {
			grid-row-start: 5;
			grid-column-start: 1;
			padding: 0 1.5rem;
		}
	}

	.collection-grid--2 {
		.collection__featured-image:nth-of-type(1) {
			grid-row-start: 5;
			grid-row-end: span 2;
			grid-column-start: initial;
			grid-column-end: initial;

			.grid__image {
				padding-bottom: calc(200% + 2rem);
			}
		}

		.collection__featured-image:nth-of-type(2) {
			grid-column-start: initial;
			grid-column-end: initial;
			grid-row-start: 11;
		}

		.collection__featured-image:nth-of-type(3) {
			grid-column-start: initial;
			grid-column-end: initial;
			grid-row-start: 16;
			grid-row-end: span 2;

			.grid__image {
				padding-bottom: calc(200% + 2rem);
			}
		}

		.collection__featured-image:nth-of-type(4) {
			grid-column-start: initial;
			grid-column-end: initial;
			grid-row-start: 22;
		}
		.collection__featured-image:nth-of-type(5) {
			grid-column-start: initial;
			grid-column-end: initial;
			grid-row-start: 27;
			grid-row-end: span 2;

			.grid__image {
				padding-bottom: calc(200% + 2rem);
			}
		}
	}

	.collection-grid--3 {
		.collection__featured-image {
			grid-row-start: initial;
			grid-column-start: initial;
			grid-row-end: initial;
			grid-column-end: initial;
		}

		.collection__featured-image:nth-of-type(1) {
			grid-row-start: 2;
			grid-row-end: span 1;
			grid-column-end: initial;
		}

		.collection__featured-image:nth-of-type(2) {
			grid-row-start: 7;
			grid-row-end: span 2;
			grid-column-end: initial;
		}
	}
}
