@font-face {
	font-family: 'Leitura News Roman';
	src: url('LeituraNewsRoman.eot');
	src: url('LeituraNewsRoman.eot#iefix') format('embedded-opentype'), url('LeituraNewsRoman.woff2') format('woff2'),
		url('LeituraNewsRoman.woff') format('woff'), url('LeituraNewsRoman.ttf') format('truetype');
	font-style: normal;
}

@font-face {
	font-family: 'Leitura News Roman';
	src: url('LeituraNewsRomanItalic.eot');
	src: url('LeituraNewsRomanItalic.eot?#iefix') format('embedded-opentype'), url('LeituraNewsRomanItalic.woff2') format('woff2'),
		url('LeituraNewsRomanItalic.woff') format('woff'), url('LeituraNewsRomanItalic.ttf') format('truetype');
	font-style: oblique;
}

@font-face {
	font-family: 'Leitura News Roman';
	src: url('LeituraNewsRomanItalic.eot');
	src: url('LeituraNewsRomanItalic.eot?#iefix') format('embedded-opentype'), url('LeituraNewsRomanItalic.woff2') format('woff2'),
		url('LeituraNewsRomanItalic.woff') format('woff'), url('LeituraNewsRomanItalic.ttf') format('truetype');
	font-style: oblique;
}

@font-face {
	font-family: 'SangBleu Serif';
	src: url('SangBleuSerif-LightItalic.eot');
	src: url('SangBleuSerif-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('SangBleuSerif-LightItalic.woff') format('woff'), url('SangBleuSerif-LightItalic.ttf') format('truetype'),
		url('SangBleuSerif-LightItalic.svg#SangBleuSerif-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'SangBleu Serif';
	src: url('SangBleuSerif-Light.eot');
	src: url('SangBleuSerif-Light.eot?#iefix') format('embedded-opentype'), url('SangBleuSerif-Light.woff') format('woff'),
		url('SangBleuSerif-Light.ttf') format('truetype'), url('SangBleuSerif-Light.svg#SangBleuSerif-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}
