/* Footer */

footer {
	padding-bottom: 6rem;
}

footer .column {
	text-align: center;
	border-top: 1px solid black;
}

.footer__nav {
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	padding: 3rem 0;
	margin-bottom: 3rem;

	h4 + h4 {
		margin-left: 3rem;
	}
}

.footer__signup {
	display: block;
	margin: 0 auto;
	max-width: calc(100% - 2rem);
	width: 55rem;
	margin-bottom: 6rem;

	form {
		display: flex;
	}

	input {
		padding: 0 1.5rem;
		margin-top: 0;
	}

	input[type='email'] {
		background-color: $grey1;
		width: calc(100% - 14rem);

		&::placeholder,
		&::-webkit-placeholder {
			color: $grey3;
		}
	}

	button[type='submit'] {
		margin-top: 0;
		width: 14rem;
	}
}

.share__icons {
	display: flex;
	justify-content: center;
	margin-bottom: 6rem;
}

.share__icon {
	margin: 0 3rem;

	a {
		cursor: pointer;
	}
}

.footer__copyright {
	color: $grey2;
	text-transform: uppercase;
}

@media screen and (max-width: $break-medium) {
	.footer__nav {
		flex-direction: column;
		justify-content: flex-start;

		h4 + h4 {
			margin-left: 0;
			margin-top: 2rem;
		}
	}
}

@media screen and (max-width: $break-small) {
	.footer__signup {
		form {
			flex-direction: column;
		}
		input[type='email'],
		button[type='submit'] {
			width: 100%;
		}
	}
	.share__icon {
		margin: 0 1.5rem;
	}
}
