.img-preload {
	height: 100%;
	width: 100%;

	img {
		width: 100%;
	}

	.img-preload-initial,
	.img-preload-full {
		position: absolute;
		width: 100%;
		height: 100%;
		transition: 0.5s;
		filter: blur(15px);
	}

	.img-preload-initial {
		transform: scale(1.15);
	}

	.img-preload-full {
		opacity: 0;
	}
}

.img-preload.img-preload--loaded {
	.img-preload-full {
		opacity: 1;
		filter: initial;
	}

	.img-preload-initial {
		transform: none;
		opacity: 0;
	}
}
