.featured-items {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.featured__item {
	margin-bottom: 2rem;
	flex-basis: calc(50% - 1rem);
}

.homepage__cta {
	display: none;
	border: 1px solid $grey2;
	width: 100%;
	margin-bottom: 2rem;
}

/*
	Featured Products
 */

.slider.featured__item {
	flex-basis: 100%;
	width: 100%;

	.featured__caption {
		display: none;
	}
}

.featured__item {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.featured__inner {
	position: relative;
}

.featured__image-frame {
	@extend %abs-full-size;
	overflow: hidden;
}

.featured__item:nth-of-type(4n + 1),
.featured__item:nth-of-type(4n + 2) {
	.featured__inner {
		padding-bottom: 66%;
	}
}

.featured__item:nth-of-type(4n + 3),
.featured__item:nth-of-type(4n + 4) {
	.featured__inner {
		padding-bottom: 100%;
	}
}

.featured__item.featured__item--single {
	flex-basis: 100%;

	.featured__inner {
		padding-bottom: 33%;
	}
}

.featured__item--single:first-of-type .featured__inner {
	padding-bottom: 41%;
}

.featured__item .featured__caption {
	@extend %abs-full-size;
	@extend %flex-center;
	z-index: 10;
	color: white;
	opacity: 0;
	background-color: rgba(171, 144, 126, 0.45);
	padding: 3rem;
	transition: 0.4s ease-out;
	-webkit-font-smoothing: antialiased;
}

.featured__item:hover .featured__caption {
	opacity: 1;
}

@media screen and (max-width: $break-medium) {
	.featured__item {
		flex-basis: 100%;
	}

	.featured__item .featured__caption.mobile--disabled {
		display: none;
	}

	.featured__item--slider,
	.featured__item.featured__item--single,
	.featured__item:nth-of-type(4n + 2),
	.featured__item:nth-of-type(4n + 3) {
		.featured__inner {
			padding-bottom: 66%;
		}
	}

	.featured__item:nth-of-type(4n + 4),
	.featured__item:nth-of-type(4n + 5) {
		.featured__inner {
			padding-bottom: 100%;
		}
	}

	.featured__item .featured__caption {
		display: flex;
		position: absolute;
		top: initial;
		bottom: -4rem;
		height: 100%;
		opacity: 0;
		color: $grey3;
		pointer-events: initial;
		padding: 1rem;
		opacity: 0;
		transition: 0.4s;
		transition-delay: 0.3s;
		color: white;

		a {
			@extend %abs-full-size;
			@extend %flex-center;
		}
	}

	.featured__item.in-view,
	.featured__item:hover {
		.featured__caption {
			opacity: 1;
			bottom: 0;
		}
	}

	.featured__item:hover .featured__caption {
		transition-delay: 0s;
	}
}

@media screen and (max-width: $break-small) {
	.featured__caption h1 {
		font-size: 2.3rem;
	}

	.homepage__cta {
		display: flex;
	}
}
