section.page {
	padding-top: 3rem;

	.title {
		text-align: center;
	}

	form {
		margin-top: 50px;
	}
}

.article__body {
	h2 + h2 {
		margin-top: 1em;
	}
}

.body--925-magazine {
	background-color: #f5f3f3;

	header nav {
		background-color: #f5f3f3;
	}

	.nav__inner:before {
		background: linear-gradient(0deg, #f5f3f3 0, #f5f3f3 60%, hsla(0, 0%, 100%, 0));
	}

	input,
	select,
	.footer__signup input[type='email'] {
		background-color: rgb(232, 230, 231);
	}

	select {
		text-align: center;
		padding: 10px;
	}

	@media screen and (max-width: $break-medium) {
		header {
			background-color: #f5f3f3;
		}
	}
}

#magazine-form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	.button-container {
		position: relative;
		margin: 0 auto;
	}
}

.page--925-magazine {
	.article__body {
		h1,
		h2,
		h3,
		h4 {
			font-family: $sangBleu;
			line-height: 1.4em;
		}

		img {
			margin-bottom: 2rem;
		}
	}
}

@media screen and (max-width: 500px) {
	.page--925-magazine .article__body h2 {
		font-size: 1.8rem;
	}
}
/* 
 * WTF
*/
