.product__main {
	display: flex;
	justify-content: space-around;
	padding-bottom: 2rem;
}

.product__images,
.product__info {
	flex-basis: calc(50% - 1rem);
}

.product__images {
	display: flex;
}

.product__info {
	padding: 3rem 0 0 3rem;
	color: $grey3;

	p {
		color: $grey2;
	}

	.header {
		text-transform: uppercase;
		color: $grey3;
	}
}

.product__price,
.product__price--override {
	margin-top: 1rem;
}

.affirm-as-low-as {
	min-height: 23px;
}

.product__form {
	width: 100%;
	max-width: 19rem;
	margin-top: 2rem;
	margin-bottom: 2rem;

	button[type='submit'] {
		width: 100%;
	}
}

section.product .contact__form {
	.contact__email,
	.contact__name,
	.contact__telephone,
	.contact__city,
	.contact__option {
		flex-basis: calc(50% - 1rem);
	}
}

.product__option {
	display: none;
	margin-bottom: 2rem;
	width: 100%;
	flex-wrap: wrap;

	button,
	input,
	select {
		min-height: 4rem;
		height: 4rem;
	}

	label {
		width: 100%;
		display: block;
		text-transform: uppercase;
	}

	select {
		width: 100%;
	}
}

.product__form.has-options .product__select {
	display: block;
}

.product__option--quantity {
	display: flex;
	justify-content: space-between;

	input[type='number'] {
		width: calc(100% - 8rem);
		background-color: initial;
	}
}

.product__description {
	margin-top: 2rem;
}

.product__sizing {
	margin-top: 2rem;

	i {
		display: inline-block;
		transform: rotate(-90deg);
		transition: 0.2s;
	}
}

.product__sizing-info {
	@extend %invisible;
	min-height: 11rem;
	transform: translateY(-1rem);
	transition: 0.2s;
}

.product__sizing.toggle-on {
	i {
		transform: none;
	}

	.product__sizing-info {
		@extend %visible;
		transform: none;
	}
}

section.product {
	.carousel__button {
		height: calc(100% - 2rem);
	}
}

.related {
	text-align: center;

	h2 {
		text-transform: uppercase;
		color: $grey2;
		margin-bottom: 1rem;
		font-size: 2.2rem;
	}

	.related__items {
		display: flex;
		justify-content: space-between;
	}
}

@media screen and (max-width: $break-medium) {
	section.product {
		.carousel__button {
			/*padding-top: calc(33% - 4rem);*/
		}
	}

	.product__main {
		display: block;

		.zoom__frame {
			pointer-events: none;
		}

		.zoom__thumbs {
			width: 100%;
			order: 2;
			margin: 2rem auto 0;
			justify-content: center;
			flex-direction: row;
		}

		.zoom__thumb {
			width: 20%;
			padding: 0 1rem;
		}
	}

	.product__images {
		flex-basis: initial;
		flex-direction: column;
	}

	.product__info {
		padding: 3rem 0;
	}

	.product__top {
		text-align: center;
	}

	.product__form {
		margin: 2rem auto 0;
		text-align: center;
	}
}

.zoom__icon {
	display: none;
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@media screen and (max-width: $break-small) {
	section.product {
		.carousel__button {
			/*padding-top: calc(50% - 2rem);*/
		}
	}

	.product__main {
		.zoom__thumb {
			width: 33%;
			padding: 0 1rem;
		}
	}

	.zoom__icon {
		display: block;
		pointer-events: none;
		position: absolute;
		left: 10px;
		bottom: 10px;
		width: 25px;
		z-index: 200;
		animation: fade-out 0.4s ease-in 4.5s 1 forwards;

		img {
			display: block;
		}
	}

	.zoom__thumbs {
		padding-right: 0;
	}

	.product__sizing-info {
		display: none;
		min-height: initial;
	}

	.product__sizing.toggle-on {
		.product__sizing-info {
			display: block;
		}
	}
}
