section.search-results {
	text-align: center;
}

.search__result {
	margin-bottom: 4rem;
}

.result__text {
	width: 100%;
	padding: 1rem 2rem 0;
}

.result__caption {
	color: $grey2;
}

.search-results__description {
	padding: 15px;
	font-style: italic;
}

.search__result--page {
	.result__text {
		padding: 0;
	}

	.result__caption {
		padding: 1rem 2rem 0;
	}

	.result__title {
		@extend %flex-center;
		position: relative;
		width: 100%;
		padding-bottom: 100%;
		border: 1px solid black;
		margin-bottom: 2rem;
	}

	.result__title-inner {
		@extend %abs-center;
		font-size: 2.4rem;
	}
}
