.signup {
	position: relative;
	input,
	button,
	.buttonText {
		transition: 0.2s;
		position: relative;
	}
}

.signup__thinking {
	@extend %abs-full-size;
	@extend %flex-center;
	padding: 0 5%;
	opacity: 0;
	transition: 0.3s;
	transition-delay: 0.2s;
	margin-top: 0.2rem;
}

.signup.thinking {
	pointer-events: none;

	input {
		color: $grey2;
	}

	.signup__buttonText {
		opacity: 0;
	}

	.signup__thinking {
		opacity: 1;
	}

	.thinking__line:after {
		animation-play-state: running;
	}
}

.thinking__line {
	width: 4rem;
	height: 1px;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 1px;
		width: 0;
		background-color: white;
		animation: drawLine 4s infinite ease-in-out;
		animation-play-state: paused;
	}

	&:nth-of-type(2) {
		&:after {
			animation-delay: 1s;
		}
	}
}

.thinking__line:nth-of-type(1) {
	transform-origin: 100% 100%;
	transform: rotate(4deg);

	.thinking__dot:nth-of-type(1) {
		transform: scale(1.2);
	}
}

.thinking__line:nth-of-type(2) {
	transform-origin: 0% 100%;
	transform: rotate(-7deg);
}

.thinking__dot {
	position: absolute;
	width: 0.6rem;
	height: 0.6rem;
	background-color: white;
	top: -0.3rem;
	border-radius: 1rem;

	&:nth-of-type(1) {
		right: 0;
	}
	&:nth-of-type(2) {
		left: 0;
	}
}

@keyframes drawLine {
	0%,
	100% {
		right: initial;
		left: 0;
		width: 0;
	}

	25% {
		left: 0;
		width: 100%;
	}
	25.1%,
	50% {
		left: initial;
		width: 100%;
		right: 0;
	}

	75% {
		left: initial;
		right: 0;

		width: 0;
		opacity: 1;
	}

	99.1% {
		left: initial;
		right: 0;
		opacity: 0;
	}

	99.2% {
		left: initial;
		right: 0;
		left: -100%;
	}

	99.3% {
		left: initial;
		right: 0;
		opacity: 1;
	}
}
.signup__messages {
	@extend %abs-full-size;
	@extend %flex-center;
	pointer-events: none;
	position: absolute;
	outline: 1px solid $grey3;
	transition: 0.3s;
	transition-delay: 0.2s;
	opacity: 0;
	background-color: white;

	.signup__message {
		transition-delay: inherit;
		transition: inherit;
		transform: translateY(1rem);
	}
}

.signup.success {
	input,
	button {
		color: #9c9c9c;
		pointer-events: none;
	}

	.signup__messages {
		opacity: 1;
	}

	.signup__message {
		transform: none;
	}
}
