@import '_fonts';

/*
// :::Type
// ::: "Font Name", 200, 200i, 600, 600i, 800, 800i
//-------------------------------------------------- */

$leitura: 'Leitura News Roman', 'Big Caslon', 'Book Antiqua', 'Palatino', serif;
$sangBleu: 'SangBleu Serif', 'Big Caslon', 'Book Antiqua', 'Palatino', serif;
body {
	font-family: $leitura;
	font-weight: 300;
	letter-spacing: 0.01em;
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2.4rem;
}
h3 {
	font-size: 1.6rem;
}
h4,
button,
select {
	font-size: 1.3rem;
}
p,
li,
input,
textarea,
label,
.rte {
	font-size: 1.2rem;
	letter-spacing: 0.01em;
}
h5 {
	font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5 {
	letter-spacing: 0.02em;
}

p + p {
	margin-top: 0.9em;
}

strong {
	font-weight: 800;
}
em {
	font-style: italic;
}

input,
textarea,
button,
select {
	font-family: inherit;
	font-weight: inherit;
	letter-spacing: inherit;
}

p a,
.rte a {
	color: $grey3;
	text-decoration: underline;
}

i {
	font-style: italic;
}

ul {
	margin: 1em 0;

	li {
		list-style: disc inside;
	}
}

.help-text {
	color: $grey2;
}

.rte {
	color: $grey2;

	p {
		margin-bottom: 0.9em;
	}

	p + p {
		margin-top: 0;
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		text-transform: uppercase;
		color: $grey3;
	}
}
