.video__container {
	position: relative;
	opacity: 1;
	transition: opacity 0.3s;

	video {
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}

	&.visible {
		opacity: 1;
	}

	&:hover {
		.video__unmute {
			opacity: 1;
		}
	}
}

video.video--notouch {
	pointer-events: none;
}

.featured__image-frame .featured__video,
.featured__video .video__container {
	@extend %abs-full-size;
}

.video__unmute {
	display: none;
	position: absolute;
	bottom: 15px;
	right: 15px;
	z-index: 100;
	background-color: transparent;
	color: white;
	border-color: currentColor;
	font-size: 1.2rem;
	opacity: 0;
	transition: 0.2s;
}

.featured-items--primary {
	.video__contianer--showMuteButton {
		.video__unmute {
			display: block;
		}
	}
}
