@import '_variables';
@import '_reset';
@import '_mixins';
@import '_zoom';
@import '_type';
@import '_icons';
@import '_ui';
@import '_image-blur';
@import '_video';
@import '_photoswipe';
@import '_header';
@import '_cart';
@import '_footer';
@import '_index';
@import '_collection';
@import '_image-zoom';
@import '_product';
@import '_custom';
@import '_blogs';
@import '_pages';
@import '_overlay';
@import '_customer';
@import '_search';
@import '_signup';

/*
// :::Global Components
//-------------------------------------------------- */

html,
body {
	position: relative;
	background-color: white;
}

html.menu-open,
html.menu-open body {
	overflow: hidden;
}

.column {
	width: calc(100% - 4rem);
	max-width: 120rem;
	margin: 0 auto;

	@media screen and (max-width: 500px) {
		width: calc(100% - 3rem);
	}
}

.column--narrow {
	@extend .column;
	max-width: 70rem;
}

.column--xNarrow {
	@extend .column;
	max-width: 50rem;
}

.lazy-src {
	opacity: 0;
	transition: 0.3s;

	&.loaded {
		opacity: 1;
	}
}

body {
	overflow-x: hidden;
}

.main-content {
	padding: 0 3rem 10rem;
}

@media screen and (max-width: $break-medium) {
	.column {
		max-width: 48rem;
	}
	.main-content {
		padding: 0 0rem 10rem;
	}
}

.bar {
	display: inline-block;
	width: 14.5rem;
	height: 1px;
	background-color: currentColor;
	position: relative;

	&:before,
	&:after {
		content: '';
		background-color: inherit;
		position: absolute;
		width: 3px;
		height: 3px;
		top: -1px;
		border-radius: 3px;
	}

	&:before {
		left: 0;
	}
	&:after {
		right: 0;
	}
}

.noTransition {
	transition: initial;
}

/*
// :::Specific to component or section
//-------------------------------------------------- */

section.four-oh-four {
	text-align: center;
	padding: 5rem 0;
}

#bp-medium,
#bp-small {
	display: none;
}

@media screen and (max-width: $break-medium) {
	#bp-medium {
		position: fixed;
		top: -100px;
		left: -100px;
		display: initial;
	}
}

@media screen and (max-width: $break-small) {
	#bp-small {
		position: fixed;
		top: -100px;
		left: -100px;
		display: initial;
	}
}
/*
// :::Debug
//-------------------------------------------------- */
